body {
  background-color: #BCAAA4;
}

main {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
  margin-top: 40px;
}

lit-article {
  flex: 1;
  overflow-y: auto;
  margin: 10px 0 20px 0;
}

.blur-it {
  filter: blur(4px);
}