body {
  background-color: #BCAAA4;
}

main {
  width: 1080px;
  margin: 0 auto;
  height: 100%;
  overflow-y: auto;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
  margin-top: 50px;
}

.blur-it {
  filter: blur(4px);
}